/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Roboto Slab', serif;
  background-color: #1a202c;
  min-width: 380px;
  height: 100%;
  border: 2px solid #765bff;
  border-radius: 10px;
}

h1 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
  padding: 0 1rem;
  margin-bottom: 40px;
}

img {
  width: 100px;
  height: 100px;
}

button {
  background: #765bff;
  color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0;
  
  display: block;
  width: 100%;

  transition: background 0.2s ease-in-out;
}

button:hover {
  background: #684aff;
  cursor: pointer;
}

/* button disable */
button:disabled {
  background: #a09bff;
  cursor: not-allowed;
}